<div class="center" style="padding: 50px;">
    <form [formGroup]="loginUser" (submit)="checkPassword()">
        <table style="margin-top: auto; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="text-align: left;">Username</td>
                <td style="width: 30px;"></td>
                <td><input type="text" formControlName="username" (focusout)="checkUsername()"></td>
            </tr>
            <tr *ngIf="!verifyUser" style="height: 10px;">
                <td></td>
                <td></td>
                <td style="font-size: small; color: red; text-align: right;">Wrong Username!</td>
            </tr>
            <tr>
                <td style="text-align: left;">Password</td>
                <td style="width: 30px;"></td>
                <td><input type="password" formControlName="password"></td>
            </tr>
            <tr *ngIf="!verifyPassword" style="height: 10px;">
                <td></td>
                <td></td>
                <td style="font-size: small; color: red; text-align: right;">Wrong Password!</td>
            </tr>
        </table>
        <div style="font-size: smaller; font-style: italic;"><a routerLink="/PasswordReset">Forgot Password?</a></div>
        <div style="padding: 15px;">
            <button type="submit" class="btn btn-primary" style="background-color: royalblue;" 
            [disabled]="loginUser.invalid || !verifyUser">
                Submit
            </button>
        </div>
    </form>
</div>