<body>
    <div>
        <h1 class="text-center" style="padding: 30px; background: peachpuff;" *ngIf="!global.globalUsername else elseBlock">
            Library
        </h1>

        <ng-template #elseBlock>
            <h1 class="text-center" style="padding: 30px; background: peachpuff;">
                Hello {{global.globalUsername}}!
            </h1>
        </ng-template>

        <div style="display: block; text-align: right; padding-right: 30px;">

            <button type="button" class="btn btn-primary float-end mt-3" style="background-color: rgb(97, 93, 93); 
            color: white;" *ngIf="global.globalUsername" (click)="logout()">
                Logout
            </button>
        </div>       
    </div>
    
    <div style="padding: 30px;">
        <!--<app-booklist></app-booklist>-->
        <router-outlet></router-outlet>
    </div>
</body>