<div style="padding: 50px;">
<form [formGroup]="passwordChange" (submit)="updatePassword()">
        <table style="margin-top: auto; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="text-align: left;">Enter Username</td>
                <td style="width: 30px;"></td>
                <td><input type="text" formControlName="username"></td>
            </tr>
            <tr *ngIf="!validUser" style="height: 10px;">
                <td></td>
                <td></td>
                <td style="font-size: small; color: red; text-align: right;">Wrong Username!</td>
            </tr>
            <tr style="height: 70px;" [hidden]="isValidUser">
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-primary center" style="background-color: royalblue; float: right;"
                    (click)="checkUsername()" [hidden]="passwordChange.controls.username.invalid">Next</button></td>
            </tr>
        </table>
        <table [hidden]="!isValidUser" style="margin-left: auto; margin-right: auto; margin-top: 20px;">
            <tr>
                <td style="text-align: left;">{{userDetails.securityQuestion}}</td>
                <td style="width: 30px;"></td>
                <td><input type="text" formControlName="securityAnswer"></td>
            </tr>
            <tr *ngIf="!correctAnswer" style="height: 10px;">
                <td></td>
                <td></td>
                <td style="font-size: small; color: red; text-align: right;">Wrong Answer!</td>
            </tr>
            <tr style="height: 70px;" [hidden]="isCorrectAnswer">
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-primary center" style="background-color: royalblue; float: right;"
                    (click)="checkSecurityAnswer()" [hidden]="passwordChange.controls.securityAnswer.invalid">Next</button></td>
            </tr>
            
        </table>
        <table [hidden]="!isCorrectAnswer" style="margin-left: auto; margin-right: auto; margin-top: 20px;">
            <tr>
                <td style="text-align: left;">New Password</td>
                <td style="width: 30px;"></td>
                <td><input type="password" formControlName="password"></td>
            </tr>
            <tr style="height: 20px;"></tr>
            <tr>
                <td style="text-align: left;">Confirm Password</td>
                <td style="width: 30px;"></td>
                <td><input type="password" formControlName="confirmPassword"></td>
            </tr>
            <tr *ngIf="passwordChange.controls.confirmPassword.invalid && passwordChange.controls.confirmPassword.touched" 
            style="height: 10px;">
                <td></td>
                <td></td>
                <td style="font-size: small; color: red; text-align: right;">Passwords don't match :/</td>
            </tr>
        </table>
        <div style="padding: 15px;" [hidden]="!isCorrectAnswer" style="display: block; text-align: center; margin-top: 20px;">
            <button type="submit" class="btn btn-primary" style="background-color: royalblue;" 
            [disabled]="passwordChange.invalid">
                Submit
            </button>
        </div>
</form>
</div>